<div class = "welcome_explain">
<h4><%= APP_NAME + " is a feedback tool for communities everywhere" %></h4>
<h5>Want to start a movement in your community?</h5>
<h5>Want to change things, but afraid to speak up?</h5>
<h5>Want to speak truth to power?</h5>
<h4>This is the instrument of your liberation</h4>
</div>
