<div class = "welcome_explain">
<h4><%= APP_NAME + " is a feedback tool for the Venture Studio community" %></h4>
<h5>Fridge getting too messy?</h5>
<h5>Studio getting too loud?</h5>
<h5>Start or join an anonymous feedback ticket.</h5>
<h5>The community will get a message when enough people vote.</h5>
</div>
