<div class = 'welcome_body'>
<h2 class = "welcome_message"><%= "Welcome to " + APP_NAME %></h2>
<%= render 'login_form' %>
<div class = "below_login_form">
<%= render 'welcome' %>
<%= render 'signup_blurb' %>
</div>
</div>