<%= form_for @reply, :remote => true do |reply| %>
<%= reply.text_area :text, :size => "45x2" %>
<%= reply.hidden_field :motion_id, :value => @motion.id %>
<div class = "reply_button_wrapper"><%= reply.submit "Reply" %></div>
<% end %>