
<h3 id = "current_motions_title">Active motions</h3>
<% if @account.has_active_motions %>
<div id = "current_motions" class = "motions"><%= render :partial => 'motions/motion', :collection => @active_motions, :as => :motion %></div>
<% else %>
<div class = "no_motions">
	<p><%= "No active motions yet."%></p>
	<p><%= link_to("Start a motion today!", new_motion_path) %></p>
</div>
<% end %>