<div id = "motion_explanations">
<h4>Create a motion for your community</h4>
<h5>Set the threshold of members who should join</h5>
<h5>When the threshold is reached, your community will receive an e-mail</h5>
<h5>The e-mail and the voters are completely anonymous</h5></div>