<div id = "motion_explanations">
<h4>Create a motion for your community</h4>
<h5>If enough members vote for your motion, Agora will send an e-mail to your whole community</h5>
<h5>The e-mail announces the vote to your community</h5>
<h5>The motion, the e-mail and the voters are completely <b>anonymous.</b></h5></div>