<div id = "page_content">
<div class = "activity_info round">
	<h4 class = "title">Give feedback to your community</h4>
	<h5 class = "subtitle">Roll over each notice for information</h5>
	<h5 class = "content">Click on the button to join or create a notice</h5>
</div>

</div>