<div id = "page_content">
<div class = "activity_info round">
	<h4 class = "title">Too noisy in the studio?</h4>
	<h5 class = "subtitle">Create a noise notice</h5>
	<h5 class = "content">Your community will get a polite e-mail when <%=  %> members have joined</h5>
</div>

</div>