<h3><%= @user.name %></h3>
<h5><%= "Joined " + pluralize(@user_joined_motions.count, "motion") %></h5>
<div class = "motions"><%= render :partial => 'motions/motion', :collection => @user_joined_motions, :as => :motion %></div>