<div class = "faq_explain">
	<h4><%= APP_NAME + " is a feedback tool for your community" %></h4>
	<h5>Fridge getting too messy?</h5>
	<h5>Want to organize something for the studio?</h5>
	
	<h5><%= "Start a motion on #{APP_NAME}" %></h5>
	<h5>A motion is like a proposition that your community can vote on</h5>
	<h5>Each motion is anonymous. All votes are anonymous.</h5>
	<h5>When enough people have voted, the community gets an e-mail.</h5>
	<h5>It's an anonymous way to provide feedback on how the studio's doing.</h5>
	<h5>Or just a great way to get feedback from your community.</h5>
</div>
<div class = "example_motions">
	<%= render 'pages/example_motion' %>
	
</div>
