<div class = "email_body" style = "p{line-height:150%}">
<p class = "email_intro_header" style = "font-weight: bold">
	A new motion has been launched on Agora
</p>
<div class = "email_intro">
	<p>Members of your community are voting anonymously on this motion.
	</p>
</div>
<%= link_to "Add your voice to theirs",  FULL_ROOT_URL, :class => "email_start_motion" %>
</div>