// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_invitation_form{

	margin-top: 25px;


	li{
		margin-top: 10px;
	}

	label{
		font-weight: bold;
	}

	input[name="commit"]{
		font-size: 110%;
		padding: auto 15px;
		float: right;
		margin-top: 10px;
	}

}

#valid_emails, #invalid_emails{
	float: left;

	
	margin-right: 50px;

	th{
		padding-bottom: 10px;
	}

	.link{
				
			padding-top: 10px;
	}
	
}

#valid_emails{
	margin-left: 50px;
}

