// Place all the styles related to the noises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.motion_info{
	width: 400px;
	border: 1px solid black;
	margin: 30px 100px;
	padding: 10px;

	h4, h5{
		margin-left: 20px;
	}
}

#motion_explanations{
	margin: 0px auto 30px 50px;
}

#new_motion_holder{
	display: none;
}

.new_motion{
	margin-left: 50px;
	margin-bottom: 20px;
	//display: none;
	background-color: #ecf2f8;
	padding: 10px 10px 5px 10px;
	width: 430px;

	#motion_title{
		padding: 5px;
		font-size: 105%;
	}

	#motion_details{
		padding: 5px;
	}
	

	li{
		margin-bottom: 15px;
	}

	label{
		font-weight: bold;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	label[for = "motion_threshold"]{
		margin-right: 5px;
	}

	#motion_threshold{
		margin-bottom: 5px;
		margin-right: 10px;
	}

	#threshold_explain{
		font-style: italic;
	}

	#motion_expires_at{
		margin-right: 10px;
	}

}

.motion_stub{
	margin-left: 50px;
	margin-bottom: 20px;
	background-color: #ecf2f8;
	padding: 5px;
	width: 430px;

	textarea{
		resize: none;
		disabled: true;
		padding: 10px 0px 0px 5px;
	}

	textarea:disabled{
		background-color: white;
	}

	textarea:hover{
		cursor: pointer;
	}
}

.motions{
	margin-top: 20px;
}

.motion{
	width: 465px;
	border: 1px solid black;
	margin: 10px auto 20px 30px;
	padding: 5px 5px 5px 10px;

	.top_row, .bottom_row{
		div{
			display: inline-block;
		}
	}

	.top_row{
		

	}

	.bottom_row{

		color: #606366;

		div{
			font-size: 85%;
		}
	}

	.details{
		margin: 7px 10px 7px 15px;
		word-wrap: break-word;
		font-size: 95%;

		a{
			color: #104E8B;
		}
	}

	.title{
		font-weight: bold;
		width: 300px;
	}

	.created_at{
		width: 150px;
	}

	.expires_at{
		width: 175px;
	}

	.voter_count{
		width: 65px;
		font-size: 90%;
		margin-left: 15px;
	}


}

.join{

	input{
		width: 55px;
		height: 25px;
		font-weight: bold;
		padding: 2px 5px;
		//margin-left: 10px;
	}

	.round{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 0px;
	}

	.expired{
		font-weight: bold;
		color: #76787A;
	}

	.email_sent{
		font-weight: bold;
	}
}


	.no_motions{
		p{
			margin: 15px 10px 15px;
		}
	}

