// Place all the styles related to the Replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply{
	background-color: #ecf2f8;
	border-bottom: 1px solid white;
	margin-left: 10px;
	margin-top: 1px;
	padding: 5px;
	width: 460px;

	.top_row, .bottom_row{
		
		margin-bottom: 5px;
		color: #606366;
		font-size: 85%;
		div{
			font-size: 85%;
		}	
	}

	.bottom_row{
		margin-left: 5px;
	}

	.top_row{
		.delete_reply{
			float: right;
			margin-right: 20px;
		}
	}

	.text{
		font-size: 95%;
		margin-top: 5px;
		margin-bottom: 10px;

	}	

}

.new_reply{
	margin-left: 10px;
	margin-top: 10px;
	display: table;
	width: 460px;
	background-color: #ecf2f8;
	padding: 5px;

	textarea{
		resize: vertical;
	}


	input[name="commit"]{
		display: block;
	vertical-align: middle;

	color: #1782b0;
		border: 1px solid #b4d9f8;
		border-bottom-color: #b4d9f8;
		background: #B4F07D;
		background: -moz-linear-gradient(top, #e1eef9 0%, #b4d9f8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color(0%, #e1eef9), color(100%, #b4d9f8));
		background:-webkit-linear-gradient(top,#e1eef9 0%,#b4d9f8 100%); 
		background:-o-linear-gradient(top,#e1eef9 0%,#b4d9f8 100%);
		background:-ms-linear-gradient(top,#e1eef9 0%,#b4d9f8 100%);
		background:linear-gradient(top,#e1eef9 0%,#b4d9f8 100%);

	}

	input[name="commit"]:hover{
		cursor: pointer;
	}

	.reply_button_wrapper{
		display: table-cell;
		vertical-align: middle;
	}
}


