// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome_body{
	width: 800px;
	margin: 50px auto;

	.welcome_message{
		width: 250px;
		margin: auto;
	}

	.welcome_explain{
	width: 425px;
	margin: auto;
	float: left;
	border-right: 1px solid black;
	}

	.signup_landing{
		float: left;
		margin-left: 30px;

		ul{
			margin-bottom: 15px;
		}


	}

	#signup_link{
		font-size: 115%;
	}
}

.login_form{
	width: 400px;
	margin: 75px auto auto;

	p{
		margin-top: 5px;
	}
}

.below_login_form{
	width: 650px;
	margin: 50px auto auto;

}