// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_bar{
	border-right: 1px solid black;
	width: 275px;
	height: 100%;
	float: left;
	padding: 15px 0px;

	.welcome_user{
		margin-bottom: 20px;
		margin-left: 15px;
	}

}

.joiners{
	padding-left: 20px;
	font-size: 90%;
	color: #820000;
}

