// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.joiners{
	padding-left: 20px;
	font-size: 90%;
	color: #820000;
}

#account_members{

	table, td, th{
		border: 1px solid black;
	}
	padding: 10px;
	width: 700px;
	
	margin-left: 100px;


	th{
		padding: 10px;
	}

	

	td{
		padding: 5px 5px 5px 15px;
	}
}



