<% if motion.email_sent %>
<div class = "email_sent "><%= "Email sent" %></div>
<% elsif motion.current? %>
<% if @current_user.joined?(motion) %>
		<%= render 'motion_users/buttons/cancel_button', :motion => motion %>
	<% else %>
			<%= render 'motion_users/buttons/join_button', :motion => motion %>
<% end %>
<% else %>
<div class = "expired"><%= "Expired" %></div>
<% end %>