<div class = "user_bar">
<div class = "welcome_user">	<%= "Welcome, " + @current_user.name %></div>
<%= render 'noises/day_noises' %>
<table id = "noise">
	
<%= render 'noises/noise_form' %>

</table>
</div>