<div class = "user_bar">
<div class = "welcome_user">	<%= "Welcome, " + @current_user.name %></div>
<%= render 'motions/day_motions' %>
<table id = "motion">
	
<%= render 'motions/motion_form' %>

</table>
</div>