<div id = "account_show">
<nav>
	<%= link_to "Add member", new_user_path %>
	<%= link_to "Batch members", batch_members_account_path(@account) %>

</nav>
<h5 id = 'account_members_title'>Account members</h5>

<ul id = "account_members"><%= render :partial => 'users/user_summary', :collection => @account.users, :as => :user %></ul>



</div>